<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.smokynote"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="7"
            android:targetSdkVersion="19"/>

    <supports-screens
            android:smallScreens="false"
            android:xlargeScreens="false"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
            android:name=".Application"
            android:label="@string/app_name"
            android:theme="@style/Theme.Styled"
            android:icon="@drawable/ic_launcher_smokynote">

        <receiver android:name=".OnAlarmReceiver"/>

        <receiver android:name=".alarm.NoteUpdateMonitor" android:exported="false">
            <intent-filter>
                <action android:name="smokynote.note.schedule"/>
                <action android:name="smokynote.note.enable"/>
                <action android:name="smokynote.note.delete"/>
                <action android:name="smokynote.note.restore"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".alarm.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".alarm.PackageReplacedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <activity
                android:name=".NotesListActivity"
                android:label="@string/app_name"
                android:theme="@style/Theme.Styled.NotesList"
                android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".record.RecordActivity"
                  android:label="@string/recording_title"
                  android:theme="@style/Theme.Styled.DialogLike"
                  android:noHistory="true"
                  android:excludeFromRecents="true"/>

        <activity android:name=".timer.TimePickerActivity"
                  android:label="@string/time_picker_title"
                  android:theme="@style/Theme.Styled.DialogLike"
                  android:noHistory="true"
                  android:excludeFromRecents="true"/>

        <!-- TODO: different playback icon -->
        <activity android:name=".playback.PlaybackActivity"
                  android:label="@string/playback_title"
                  android:theme="@style/Theme.Styled.DialogLike"
                  android:noHistory="true"
                  android:excludeFromRecents="true"/>

        <activity android:name=".alarm.timed.TimedAlarmActivity"
                  android:label="@string/timed_alarm_title"
                  android:theme="@style/Theme.Styled.DialogLike"
                  android:noHistory="true"
                  android:excludeFromRecents="true"/>
    </application>
</manifest>
